<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset1.css">
    <link rel="stylesheet" href="/css/admin_index.css">

</head>
 
<body>
    <div class="header">
        <h3>优视影院</h3>
        <span>root</span>
        <button class="btn">退出登录</button>
    </div>
    <div class="main">
        <div class="left">
            <!-- 1 -->
            <p class="block">影片管理</p>
            <ul>
                <li><a href="/admin/move">影片总列表</a></li>
            </ul>
            <!-- 2 -->
            <p class="block">专题管理</p>
            <ul>
                <li><a href="/admin/ztlist">热播推荐</a></li>
                <li><a href="/admin/ztlist">热映大片</a></li>
            </ul>
            <!-- 3 -->
           <!--  <p class="block">通知管理</p>
            <ul>
                <li><a href="#">通知内容</a></li>
            </ul> -->
            <!-- 4 -->
            <p class="block">会员管理</p>
            <ul>
                <li><a href="/admin/hylist">会员列表</a></li>
            </ul>
            <!-- 5 -->
            <p class="block">管理员管理</p>
            <ul>
                <li><a href="/admin/glylist">管理员列表</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="top">
                <h3>编辑影片</h3>
                <ol class="breadcrumb">
                    <li><a href="/admin">主页</a></li>
                    <li><a href="/admin/move">影片列表</a></li>
                    <li>新增</li>
                </ol>

            </div>
            <div class="down">
                <div class="panel panel-default pas">
                    <!-- Default panel contents -->

                    <div class="form ">
                        <form action="#" method="POST" enctype="multipart/form-data">

                            <h4>影片名称</h4>
                            <input type="text" name="title">
                            <h4>影片介绍</h4>
                            <textarea name="message" id=""></textarea>
                            <h4>清晰度</h4>
                            <select name="txt" id="">
                                <option value="高清">高清</option>
                                <option value="超清">超清</option>
                                <option value="标清">标清</option>
                            </select>
                            <h4>类型</h4>
                            <select name="type" id="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <h4>评分</h4>
                            <input type="number" min="1" max="10" step="0.1" value="10" name="grade">
                            <h4>封面图片</h4>
                            <input type="file" id="" name="url">
                            <div class="panel-heading sure"><button type="submit">保存</button></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script>
        var p = document.getElementsByClassName('left')[0].getElementsByTagName('p');
        var ul = document.getElementsByClassName('left')[0].getElementsByTagName('ul');
        for (var i = 0; i < p.length; i++) {
            p[i].index = i;
            p[i].onclick = function () {
                for (var j = 0; j < p.length; j++) {
                    ul[j].style.display = 'none';
                }
                ul[this.index].style.display = 'block';
            }
        }
    </script>
    <script>
        $(function () {
            var timer = null;
            $('.mes span').click(function () {
                $('.res').hide();
            });
            $('.header span').mouseover(function () {
                clearTimeout(timer)
                $('.btn').show();
            })
            $('.header span').mouseout(function () {
                timer = setTimeout(function () {
                    $('.btn').hide();
                }, 3000)

            })
            $('.btn').mouseover(function () {
                clearTimeout(timer);
                $('.btn').mousemove(function () {
                    $(this).show();
                })
            })
            $('.btn').mouseout(function () {
                $(this).hide();
            })
        })
    </script>
</body>

</html>