<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset1.css">
    <link rel="stylesheet" href="/css/admin_login.css">
</head>

<body>
    <div class="header">
        <h2><img src="/images/logo.jpg">优视影院</h2>
    </div>
    <div class="main">
        <div class="top">
            <h3>登录</h3>
        </div>
        <div class="down">
            <form action="#" method="POST">
                <p>用户名</p>
                <input type="text" name="username" value="root">
                <p>密码</p>
                <input type="password" name="password" value="root123">
                <br>
                <button type="submit">登录</button>
            </form>
        </div>
    </div>
</body>

</html>