<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="icon" href="images/xiaotubiao.ico">
    <title>优视影院-登录</title>
</head>

<body>
    <!-- 顶部导航栏 -->
    <div class="top main"><img src="images/logo.jpg">优视影院</div>
    <!-- 主体-->
    <div class="content">
        <div class="contentmain  main">
            <!-- 账号登录 -->
            <div class="right" >
                <div class="right1">
                    账号登录
                </div>
                <!-- 账号密码登录 -->
                <div class="right2" >
                    <div class="shuru1">
                        <div class="info1"></div>
                        <input type="text" placeholder="输入手机/邮箱/用户名" class="user" value="">
                        <input type="password" placeholder="输入密码" class="psw" value="">
                    </div>
                    <div class="rember">
                        <p id="rem1" class="rem">记住我</p>
                        <a href="#" id="liji1">立即注册</a>
                        <span>&nbsp|&nbsp</span>
                        <a href="#">找回密码</a>
                    </div>
                    <button class="login" id="deng1">登&nbsp;&nbsp;录</button>
                    <div class="meet">
                        <a href="#" class="help">遇到问题</a>
                        <a href="#" class="phone" id="shouji1">手机验证码登录></a>
                    </div>
                </div>
                <!-- 手机验证码登录 -->
                <div class="right3" style="display:none">
                    <div class="shuru2">
                        <div class="info2"></div>
                        <input type="text" placeholder="输入手机号" class="user">
                        <input type="text" placeholder="输入短信验证码" class="yzm">
                        <input type="button" value="免费获取短信" class="huoqu">
                    </div>
                    <div class="rember">
                        <p  id="rem2" class="rem">记住我</p>
                        <a href="#" id="liji2">立即注册</a>
                        <span>&nbsp|&nbsp</span>
                        <a href="#">找回密码</a>
                    </div>
                    <button class="login" id="deng2">登&nbsp;&nbsp;录</button>
                    <div class="meet">
                        <a href="#" class="help">遇到问题</a>
                        <a href="#" class="phone" id="zhanghao">账号密码登录></a>
                    </div>
                </div>
                <div class="right4">
                    <p>其他方式登录</p>
                    <a href="#" class="qq"></a>
                    <a href="#" class="wb"></a>
                    <a href="#" class="wx"></a>
                </div>
            </div>
            <!-- 右侧账号注册 -->
            <div class="regsiter" style="display:none">
                <div class="regsiter1">
                    账号注册
                </div>
                <form action="" class="regsiter2">
                    <div class="info3"></div>
                    <div class="shuru3">
                        <input type="text" placeholder="输入手机号" class="user">
                        <!-- <img src="images/wu.jpg" class="wu"> -->
                        <input type="password" placeholder="输入密码" class="psw"><span class="passLev"></span>
                        <input type="text" placeholder="输入右侧验证码" class="yzm">
                        <div class="yanzhengma">
                            <span>J</span>
                            <span>s</span>
                            <span>A</span>
                            <span>6</span>
                        </div>
                        <div class="shuaxin"></div>
                        <input type="text" placeholder="输入短信验证码" class="yzm">
                        <input type="button" value="免费获取短信" class="huoqu">
                    </div>
                    <div class="rember">
                        <p  id="rem3" class="rem11">我同意</p>
                        <a href="#">《优视影院注册协议》</a>
                        <a href="#" class="res" id="liji3">立即登录></a>
                    </div>
                    <a href="#" class="login" id="zhuceanniu">注&nbsp;&nbsp;册</a>
                    <div class="meet">
                        <a href="#" class="help">遇到问题</a>
                        <div></div>
                    </div>
                </form>
                <div class="regsiter3">
                    <p>其他方式登录</p>
                    <a href="#" class="qq"></a>
                    <a href="#" class="wb"></a>
                    <a href="#" class="wx"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="bottom main">
        <p class="bottomp">若本站收录内容侵犯了您的权益，请附说明联系邮箱，本站将第一时间处理。</p>
        <p>优视影院</p>
    </div>
   <script src="js/login.js"></script> 
</body>


</html>