<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/movie.css" type="text/css">
    <link rel="stylesheet" href="css/public.css" type="text/css">
    <link rel="icon" href="images/xiaotubiao.ico">
    <script type="text/javascript" src="js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.3.js"></script>
    <title>电影</title>
</head>

<body>
    <!-- 顶部top -->
    <div class="top">
        <div class="topcontent main">
            <a href="#"><img src="images/logo.jpg">优视影院</a>
            <ul class="one">
                <li>
                    <a href="/">首页</a>
                </li>
                <li class="first">
                    <a href="/movie">电影</a>
                </li>
                <li>
                    <a href="https://ent.sina.com.cn/" target="_blank">新浪资讯</a>
                </li>
            </ul>
            <ul class="two">
                <li>
                    <a href="/login">登录</a>
                </li>
                <li>
                    <a href="/login">注册</a>
                </li>
                <li>
                    <a href="#">VIP特权</a>
                </li>
                <li class="position">
                    <a href="#">二维码</a>
                    <div class="erweima"><img src="images/erweima.jpg">扫描二维码或微信关注优视影院即可领取影视资源</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 电影特别推荐 -->
    <div class="strong">
        <div class="listcontent main clearfix">
            <div class="title">电影特别推荐</div>
            <ul id="recommend">
                <li>
                    <a href="/play"><img src="images/1.jpg" />
                        <span class="free"></span>
                        <em>高清</em>
                    </a>
                    <div class="jieshao">
                        <a href="#" class="listTit">斗罗大陆:龙王传说</a>
                        <p>始终坚持一个信念</p>
                        <span>9.5</span>
                    </div>
                </li>
                <li>
                    <a href="/play"><img src="images/2.jpg" />
                        <span class="discount"></span>
                        <em>高清</em>
                    </a>
                    <div class="jieshao">
                        <a href="#" class="listTit">宠爱</a>
                        <p>宠爱温暖你的心房</p>
                        <span>8.5</span>
                    </div>
                </li>
                <li>
                    <a href="/play"><img src="images/3.jpg" />
                        <span class="free"></span>
                        <em>高清</em>
                    </a>
                    <div class="jieshao">
                        <a href="#" class="listTit">清平乐</a>
                        <p>词人在离经叛乱世上的跌宕命运</p>
                        <span>8.9</span>
                    </div>
                </li>
                <li>
                    <a href="/play"><img src="images/4.jpg" />
                        <span class="free"></span>
                        <em>高清</em>
                    </a>
                    <div class="jieshao">
                        <a href="#" class="listTit">大明锦衣卫</a>
                        <p>明朝锦衣卫的神通</p>
                        <span>8.0</span>
                    </div>
                </li>
                <li>
                    <a href="/play"><img src="images/5.jpg" />
                        <span class="free"></span>
                        <em>高清</em>
                    </a>
                    <div class="jieshao">
                        <a href="#" class="listTit">假面骑士零一</a>
                        <p>变形金刚在行动</p>
                        <span>9.0</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 分类信息 -->

    <div class="slidecontent">
        <div class="slideTxtBox main">
            <div class="hd">
                <ul>
                    <li>动作片</li>
                    <li>喜剧片</li>
                    <li>爱情片</li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <li>
                        <a href="/play"><img src="images/9.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">半个喜剧</a>
                            <p>看个笑话</p>
                            <span>9.1</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/8.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">民国奇探</a>
                            <p>胡一天</p>
                            <span>8.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/10.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">狂兽</a>
                            <p>变形金刚在行动</p>
                            <span>8.1</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/11.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">THUNDER BOLT</a>
                            <p>成龙</p>
                            <span>10.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/12.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">天使陷落</a>
                            <p>终极营救</p>
                            <span>9.0</span>
                        </div>
                    </li>
                </ul>
                <!-- 喜剧 -->
                <ul>
                    <li>
                        <a href="/play"><img src="images/2.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/7.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/3.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/8.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/9.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                </ul>
                <!-- 爱情 -->
                <ul>
                    <li>
                        <a href="/play"><img src="images/10.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/11.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/12.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/13.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                    <li>
                        <a href="/play"><img src="images/6.jpg" />
                            <span class="free"></span>
                            <em>高清</em>
                        </a>
                        <div class="jieshao">
                            <a href="#" class="listTit">假面骑士零一</a>
                            <p>变形金刚在行动</p>
                            <span>9.0</span>
                        </div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
        </div>
    </div>
   
    <!-- 底部信息 -->
    <div class="bottom">
        <div class="bottomcontent main">
            <div class="contentup main">
                <h3>友情链接</h3>
                <ul>
                    <li><a href="https://www.iqiyi.com/home2019.html">爱奇艺</a></li>
                    <li><a href="https://v.qq.com/?ptag=qqbsc&ADTAG=search-zd">腾讯视频</a></li>
                    <li><a href="https://www.59kan.net/piaohuadianyingwang.html">飘花电影网</a></li>
                    <li><a href="https://www.59kan.net/jiuzhou2019tv.html">九州电影网</a></li>
                    <li><a href="https://www.59kan.net/yy4480.html">yy4480影院</a></li>
                    <li><a href="https://www.ieshop.net/">站长源码</a></li>
                </ul>
            </div>
            <div class="contentdown main">
                <p class="p1">本站只提供WEB页面服务，本站不存储、不制作任何视频，不承担任何由于内容的合法性及健康性所引起的争议和法律责任。</p>
                <p class="p2">若本站收录内容侵犯了您的权益，请附说明联系邮箱，本站将第一时间处理。</p>
                <a href="#" target="_blank" class="one">京ICP证0000000号</a>
                <a href="#" target="_blank" class="two">京网文【2020】0001-221号</a>
                <a href="#" target="_blank" class="three">互联网药品信息服务资格证书（京）-非经营性-2020-0012</a>
                <a href="#" target="_blank" class="four">广播电视节目制作经营许可证：（京）字第01166号</a>
                <a href="#" target="_blank" class="five">京公网安备：111111111</a>
                <a href="#" target="_blank">信息网络传播视听许可证号：22222222</a>
            </div>
        </div>
    </div>
</body>

</html>