<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/public.css" type="text/css">
    <link rel="stylesheet" href="css/play.css" type="text/css">
    <link rel="icon" href="images/xiaotubiao.ico">
    <title>影片</title>
</head>

<body>
    <!-- 导航栏nav -->
    <div class="nav">
        <div class="navconcent main">
            <div class="logo"><a href="#">优视影院</a></div>
            <div class="topnav">
                <a href="/" title="首页">首页</a>
                <a href="#" title="导航" class="childnav">导航<img src="images/imgplay/daohang.jpg"></a>
            </div>
            <div class="search">
                <input type="text" placeholder="雪鹰" class="shuru">
                <input type="submit" value="搜索" class="submit">
            </div>
            <div class="box">
                <a href="#" class="see">看过<img src="images/imgplay/kanguo.jpg"></a>
                <a href="#" class="shoucang">收藏<img src="images/imgplay/shoucang3.jpg"></a>
                <a href="#" class="client">客户端<img src="images/imgplay/kehuduan.jpg"></a>
                <div class="login">
                    <a href="/login">登录</a><a>/</a><a href="/login">注册</a>
                </div>
            </div>

        </div>
    </div>
    <!-- 电影信息 -->
    <div class="movie">
        <div class="movieconcent main">
            <h4>半个喜剧</h4>
            <p>
                <a href="#">电影</a><span>></span><a href="#">内地</a>
                <span>></span><a href="#">动作</a><span>></span><span>半个喜剧.任素汐</span></p>
        </div>
    </div>
    <!-- 播放屏幕 -->
    <div class="playmovie">
        <div class="playcontent main">
            <div class="left">
                <video width="860" height="525" controls id="video1" loop="loop" autoplay="autoplay" muted>
                    <source src="images/movie.mp4" type="video/mp4">
                    您的浏览器不支持Video标签。
                </video>
            </div>
            <div class="div"></div>
            <div class="right clearfix" id="obox">
                <div class="zuobian" id="obox1">               
                    <div class="right3">
                        <h4>精彩推荐:</h4>
                        <ul>
                            <li>
                                <img src="images/lunbo1-1.jpg">
                                <p><a href="#">西游降魔篇</a></p>
                                <p><a href="#">西游路上降个魔</a></p>
                            </li>
                            <li>
                                <img src="images/lunbo2-1.jpg">
                                <p><a href="#">宠爱</a></p>
                                <p><a href="#">温情时刻</a></p>
                            </li>
                            <li>
                                <img src="images/lunbo3-1.jpg">
                                <p><a href="#">恋爱请响铃</a></p>
                                <p><a href="#">一款恋爱APP</a></p>
                            </li>
                            <li>
                                <img src="images/lunbo4-1.jpg">
                                <p><a href="#">生肖之战</a></p>
                                <p><a href="#">找寻海外丢失宝物之战</a></p>
                            </li>
                            <li>
                                <img src="images/lunbo5-1.jpg">
                                <p><a href="#">乘风破浪</a></p>
                                <p><a href="#">穿越过去的时间看看父母的生活</a></p>
                            </li>
                            <li>
                                <img src="images//lunbo6-1.jpg">
                                <p><a href="#">灵魂维修工</a></p>
                                <p><a href="#">灵异空间</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="scroll">
                    <div id="block"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 赞踩收藏 -->
    <div class="share">
        <div class="sharecontent main">
            <div class="left">
                <div class="lefttle">
                    <a href="#" class="zan">65</a>
                    <a href="#" class="cai">53</a>
                    <a href="#" class="shoucang">收藏</a>
                </div>
                <div class="righttle">
                    <a href="#" class="xiazai">下载</a>
                    <a href="#" class="fenxiang">分享</a>
                    <a href="#" class="speak">剧透</a>
                </div>
            </div>
            <div class="right">
                <a href="#">下载影片</a>
            </div>
        </div>
    </div>
    <!--底部信息-->
    <div class="bottom">
        <div class="bottomcontent main">
            <div class="contentup">
                <h3>友情链接</h3>
                <ul>
                    <li><a href="https://www.iqiyi.com/home2019.html">爱奇艺</a></li>
                    <li><a href="https://v.qq.com/?ptag=qqbsc&ADTAG=search-zd">腾讯视频</a></li>
                    <li><a href="https://www.59kan.net/piaohuadianyingwang.html">飘花电影网</a></li>
                    <li><a href="https://www.59kan.net/jiuzhou2019tv.html">九州电影网</a></li>
                    <li><a href="https://www.59kan.net/yy4480.html">yy4480影院</a></li>
                    <li><a href="https://www.ieshop.net/">站长源码</a></li>
                </ul>
            </div>
            <div class="contentdown">
                <p class="p1">本站只提供WEB页面服务，本站不存储、不制作任何视频，不承担任何由于内容的合法性及健康性所引起的争议和法律责任。</p>
                <p class="p2">若本站收录内容侵犯了您的权益，请附说明联系邮箱，本站将第一时间处理。</p>
                <a href="#" target="_blank" class="one">京ICP证0000000号</a>
                <a href="#" target="_blank" class="two">京网文【2020】0001-221号</a>
                <a href="#" target="_blank" class="three">互联网药品信息服务资格证书（京）-非经营性-2020-0012</a>
                <a href="#" target="_blank" class="four">广播电视节目制作经营许可证：（京）字第01166号</a>
                <a href="#" target="_blank" class="five">京公网安备：111111111</a>
                <a href="#" target="_blank">信息网络传播视听许可证号：22222222</a>
            </div>
        </div>
    </div>
    <script src="js/base.js"></script>
    <script src="js/drag.js"></script>
    <script src="js/play.js"></script>

</body>

</html>